@charset "UTF-8";

@font-face {
    font-family: "Love";
    src: url(fonte/Love.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --cor0: #DF19E6;
    --cor1: #B634BB;
    --cor3: #8E4091;
    --cor4: #653E66;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Love", sans-serif;
}

header{
    background-image: linear-gradient(to right, var(--cor0), var(--cor1), var(--cor3));
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    text-align: center;
}

header > p{
    text-align: center;
    padding: 5px;
}

header a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-family: var(--fonte-padrao);
}

body{
    min-height: 100vh;
    background-image: url(imagens/Wallpaper\ for\ the\ mobile_.jpg);
    font-family: var(--fonte-destaque);
}
body>h1,h2{
    text-align: center;
    padding: 10px;
}