@charset "UTF-8";

@font-face {
    font-family: Birthday - Personal Use;
    src: url(fontes/Birthday\ -\ Personal\ Use.otf) format(opentype);
    font-weight: normal;
}

*{
    font-family: var(--fonte2);
}

:root {
    /* Fonte */
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: 'Birthday - Personal Use', cursive;
    --fonte3: Arial, Helvetica, sans-serif;

    /* Cores */
    --cor01: #FFD700;
    --cor02: #87CEEB;
    --cor03: #FFB6C1;
    --cor04: #98FF98;
}

body{
    background-image: linear-gradient(to top, var(--cor03), var(--cor02), var(--cor01));

}

h1{
    font-family: var(--fonte2);
}

h2{
    font-family: var(--fonte2);
}

h3{
    font-family: var(--fonte2);
}

p{
    font-size: 18px;
    font-family: var(--fonte2);
}

section{
    background-color: var(--cor04);
    border-radius: 8px;
    
}

a{
    background-color: var(--cor04);
    color: black;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 8px;

    transition: 0.5s;
    border-radius: 8px;
}

.audio{
    padding: 10px;
    text-align: left;
}